@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: fixed center url("/src/assets/bg-lines.png") no-repeat;
    background-color: #FFF9C4;
  }
  
  * {
    font-family: "Jolly Lodger", serif;
  }
  
  .poppins {
    font-family: "Poppins", serif;
  }
  .hero {
    position: relative;
    min-height: 100vh;
    background: top url("/src/assets/hero-bg.png") no-repeat;
    margin: 0;
    padding: 0;
  }
  .dark{
    color: #4E342E;
  }
  .kavoon{
    font-family: "Kavoon", serif;
}
.bdr {
    border: solid #4E342E;
    border-top-width: 0.2px;
    border-left-width: 0.2px;
    border-bottom-width: 4px;
    border-right-width: 4px;
}
/* .tilted{
  clip-path: polygon(0% 0%, 100% 10%, 100% 90%, 0% 100%);
  background-color: #4E342E;
} */

.step {
  background-image: url("/src//assets/how-to-buy.png");
  background-repeat: no-repeat;
  width: 320px;
  height: 238px;
  box-sizing: border-box;
  overflow: hidden;
}
.toconomic{
  background-image: url("/src//assets/tokenomics.png");
  background-repeat: no-repeat;
  background-size: contain; 
}